.header-ttl {
  font-size: 18px;
  color: rgb(7, 7, 158);
  margin: 30px 0 0 20px;
}

.header-nav {
  font-size: 12px;
  margin: 30px 20px 0 0;
  color: rgb(7, 7, 158);
  list-style: none;
  display: flex;
  flex-direction: row;
}

.header-nav li {
  width: 75px;
}

.header-nav li a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-text{
  font-size: 45px;
}

.main-line {
  width: 1000px;
  height: 140px;
  background-color: rgb(37, 37, 151);
}

.main-img-jpeg{
  display: block;
  width: 45%;
  margin: 0 0 0 auto;
}

.main {
  position: relative;
  top: 250px;
}

.main-img {
  position: absolute;
  top: 100px;
  left: 250px;
}